<div class='columns'>
  <div class='column is-half'>
    <%= form_for(@sample_unit) do |f| %>
    <%= form_errors_for(@sample_unit)%>
      <div class='field'>
        <%= f.label :site_code, class: 'label' %>
        <div class='control'>
          <%= f.text_field :site_code, class: 'input' %>
        </div>
      </div>
      <div class='field'>
        <%= f.label :grts, class: 'label' %>
        <div class='control'>
          <%= f.text_field :grts, class: 'input' %>
        </div>
      </div>
      <div class='field'>
        <%= f.label :agency, class: 'label' %>
        <div class='control'>
          <%= f.text_field :agency, class: 'input' %>
        </div>
      </div>
      <div class='field'>
        <%= f.label 'Broad Habitat Form', class: 'label' %>
        <div class='control select'>
          <%= collection_select(:sample_unit,
            :broad_habitat_form_id,
            BroadHabitat.all,
            :id,
            :label,
            prompt: true)
          %>
        </div>
      </div>

      <h2 class='title is-2'>Detector Locations</h2>
      <hr />

      <%= f.fields_for :detector_locations do |df_form| %>
        <h3 class='title is-4'>Location<h3>
        <hr />
        <div class='field'>
          <%= df_form.label :location_name, class: 'label' %>
          <div class='control'>
            <%= df_form.text_field :location_name, class: 'input' %>
          </div>
        </div>
        <div class='field'>
        <%= f.label 'Local Habitat', class: 'label' %>
        <div class='control select'>
          <%= df_form.collection_select(
            :local_habitat_id,
            LocalHabitat.all,
            :id,
            :label,
            prompt: true)
          %>
        </div>
      </div>
      <% end %>


      <div class='field'>
        <div class='control actions'>
          <%= f.submit class: 'button is-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>