<nav class='navbar is-dark' role='navigation' aria-label='main navigation'>
  <div class='navbar-brand'>
    <%= link_to 'Batabase', root_path, class: 'navbar-item' %>

    <a role='button' class='navbar-burger burger' aria-label='menu' aria-expanded='false' data-target='navbarBasicExample'>
      <span aria-hidden='true'></span>
      <span aria-hidden='true'></span>
      <span aria-hidden='true'></span>
    </a>
  </div>

  <div class='navbar-menu'>
    <div class='navbar-end'>
      <div class='navbar-item'>
        <% if user_signed_in? %>
          <div class='navbar-start'>
            <%= link_to 'List Maintentance', list_maintenance_path %>
          </div>
          <div class='buttons'>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'button is-primary is-outlined' %>
          </div>
        <% else %>
          <div class='buttons'>
            <%= link_to 'Sign Up', new_user_registration_path, class: 'button is-primary' %>
            <%= link_to 'Sign In', new_user_session_path, class: 'button is-primary is-outlined' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
