<nav class='navbar is-dark' role='navigation' aria-label='main navigation'>
  <div class='navbar-brand'>
    <%= link_to 'Batabase', root_path, class: 'navbar-item logo' %>

    <a role='button' class='navbar-burger burger' aria-label='menu' aria-expanded='false' data-target='navMenu'>
      <span aria-hidden='true'></span>
      <span aria-hidden='true'></span>
      <span aria-hidden='true'></span>
    </a>
  </div>

  <div class='navbar-menu' id='navMenu'>
        <% if user_signed_in? %>

          <div class='navbar-start'>
            <%= link_to 'Deployments', deployments_path, class: 'navbar-item' %>
            <%= link_to 'Sample Units', sample_units_path, class: 'navbar-item' %>
            <div class='navbar-item has-dropdown is-hoverable'>
              <a class='navbar-link'>List Maintenance</a>
              <div class='navbar-dropdown'>
                <%= link_to 'Broad Habitats', broad_habitats_path, class: 'navbar-item' %>
                <%= link_to 'Clutter Types', clutter_types_path, class: 'navbar-item' %>
                <%= link_to 'Contacts', contacts_path, class: 'navbar-item' %>
                <a class='navbar-item'>Datum</a>
                <a class='navbar-item'>Detection Targets</a>
                <a class='navbar-item'>Detectors</a>
                <%= link_to 'Distance Ranges', distance_ranges_path, class: 'navbar-item' %>
                <%= link_to 'Local Habitats', local_habitats_path, class: 'navbar-item' %>
                <%= link_to 'Organizations', organizations_path, class: 'navbar-item' %>
                <a class='navbar-item'>Sample Designs</a>
                <%# <%= link_to 'Species', speciess_path, class: 'navbar-item' %>
                <%= link_to 'Species Groups', species_groups_path, class: 'navbar-item' %>
                <a class='navbar-item'>Study Areas</a>
              </div>
            </div>
          </div>

          <div class='navbar-end'>
            <div class='navbar-item has-dropdown is-hoverable'>
              <a class='navbar-link'><%= current_user.email %></a>
              <div class='navbar-dropdown'>
                <a class='navbar-item'>Edit Profile</a>
                <a class='navbar-item'>Admin Dashboard</a>
                <hr class='navbar-divider'>
                <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'navbar-item' %>
              </div>
            </div>
          </div>

        <% else %>

          <div class='navbar-end'>
            <div class='buttons'>
              <%= link_to 'Sign Up', new_user_registration_path, class: 'button is-primary' %>
              <%= link_to 'Sign In', new_user_session_path, class: 'button is-primary is-outlined' %>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</nav>
