<div class="d-flex fixed-header p-3">
  <%# TODO: turn this into a generic component %>
  <div class="col-auto">
    <div class="card bg-light">
      <div class="card-header">
        <%= tag.h1 'Search Detectors' %>
      </div>
      <div class="card-body">
        <%= search_form_for @search do |f| %>
          <%= tag.fieldset do %>
            <%= tag.legend 'Detector' %>
            <%= tag.ul do %>
              <% @fields.each do |field| %>
                <% next if field.class == Array %>
                <% current = (field.to_s + '_cont').to_sym %>
                <%= tag.li do %>
                  <%= f.label current %>
                  <%= f.text_field current %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
          <%= tag.fieldset do %>
            <%= tag.legend "Detector's Organization" %>
            <%= tag.ul do %>
              <%= tag.li do %>
                <%= f.label :organization_name_cont %>
                <%= f.text_field :organization_name_cont %>
              <% end %>
            <% end %>
          <% end %>
          <%= f.submit class: 'btn btn-dark' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column align-items-center">
    <%= render(TableComponent.new(@fields, @headers, @helpers, @detectors, @search)) %>
  </div>
</div>
