<%= render_component('header', { title: 'Admin Dashboard' }) %>

<h2 class='title is-4'>Users</h2>

<table class='table'>
  <thead>
    <tr>
      <th></th>
      <th>Email</th>
      <th>Role</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each_with_index do |user, index| %>
      <tr>
        <th><%= index+1 %></th>

        <td><%= placeholder_if_blank(user.email) %></td>
        <td><%= placeholder_if_blank(user.role.humanize) %></td>
        <td><%= link_to 'Edit', edit_registration_path(user), class: 'button is-primary is-outlined is-small' %></td>
        <td><%= link_to('Remove',
                  admin_destroy_user_path(user),
                  data: { confirm: "Delete #{user.email}?" },
                  method: :delete,
                  class: 'button is-text is-small',
                  style: 'border-bottom: 1px solid gray; text-decoration: none')%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
