<div class="container mt-3">
  <h2>Resend unlock instructions</h2>
  <%= bootstrap_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <div class="d-flex justify-content-between">
      <div class="d-flex flex-column justify-content-around">
        <%= render "devise/shared/links" %>
      </div>
      <div class="d-flex flex-column justify-content-around">
        <%= f.submit "Resend unlock instructions" %>
      </div>
    </div>
  <% end %>
</div>
