<div class='columns'>
  <div class='column is-half'>
    <%= form_for(@detector) do |f| %>
      <div class='field'>
        <%= f.label 'Serial Number', class: 'label' %>
        <div class='control'>
          <%= f.text_field :serial_num, class: 'input' %>
        </div>
      </div>

      <div class='field'>
        <%= f.label :model, class: 'label' %>
        <div class='control'>
          <%= f.text_field :model, class: 'input' %>
        </div>
      </div>

      <div class='field'>
        <%= f.label :manufacturer, class: 'label' %>
        <div class='control'>
          <%= f.text_field :manufacturer, class: 'input' %>
        </div>
      </div>

      <div class='field'>
        <%= f.label :firmware, class: 'label' %>
        <div class='control'>
          <%= f.text_field :firmware, class: 'input' %>
        </div>
      </div>

      <div class='field'>
        <%= f.label 'Owning Agency', class: 'label' %>
        <div class='control select'>
          <%= collection_select(:detector,
            :organization_id,
            Organization.all,
            :id,
            :label,
            prompt: true)
          %>
        </div>
      </div>

      <div class='field'>
        <%= f.label :sampling_frequency, class: 'label' %>
        <div class='control'>
          <%= f.number_field :sampling_frequency, class: 'input' %>
        </div>
      </div>

      <div class='field'>
        <%= f.label :pre_trigger, class: 'label' %>
        <div class='control'>
          <%= f.text_field :pre_trigger, class: 'input' %>
        </div>
      </div>

      <div class='field'>
        <%= f.label :recording_length, class: 'label' %>
        <div class='control'>
          <%= f.number_field :recording_length, class: 'input' %>
        </div>
      </div>

      <div class='field'>
        <%= f.label :hp_filter, class: 'label' %>
        <div class='control'>
          <%= f.text_field :hp_filter, class: 'input' %>
        </div>
      </div>

      <div class='field'>
        <%= f.label :auto_rec, class: 'label' %>
        <div class='control'>
          <%= f.text_field :auto_rec, class: 'input' %>
        </div>
      </div>

      <div class='field'>
        <%= f.label :trigger_sensitivity, class: 'label' %>
        <div class='control'>
          <%= f.text_field :trigger_sensitivity, class: 'input' %>
        </div>
      </div>

      <div class='field'>
        <%= f.label :input_gain, class: 'label' %>
        <div class='control'>
          <%= f.number_field :input_gain, class: 'input' %>
        </div>
      </div>

      <div class='field'>
        <%= f.label :trigger_level, class: 'label' %>
        <div class='control'>
          <%= f.number_field :trigger_level, class: 'input' %>
        </div>
      </div>

      <div class='field'>
        <%= f.label :interval, class: 'label' %>
        <div class='control'>
          <%= f.number_field :interval, class: 'input' %>
        </div>
      </div>

      <div class='field'>
        <%= f.label :recording_start, class: 'label' %>
        <div class='control'>
          <%= f.datetime_select :recording_start, class: 'input' %>
        </div>
      </div>

      <div class='field'>
        <%= f.label :recording_stop, class: 'label' %>
        <div class='control'>
          <%= f.datetime_select :recording_stop, class: 'input' %>
        </div>
      </div>

      <div class='field'>
        <div class='control actions'>
          <%= f.submit class: 'button is-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
