<div class='column'>
  <div class='card'>
    <div class='slideshow' id='<%= detector_location.id %>'>
      <% detector_location.images.each do |image| %>
        <div class='gallery-image' data-image-url='<%= url_for(image) %>'></div>
      <% end %>

      <div class='card-image'>
        <figure class='image is-4by3'>
          <img src='' />
        </figure>
        <i class="slideshow-chevron prev fa fa-2x fa-chevron-left" aria-hidden="true"></i>
        <i class="slideshow-chevron next fa fa-2x fa-chevron-right" aria-hidden="true"></i>
      </div>
    </div>

    <button class='gallery-button is-large' aria-label='Edit'>Edit Gallery</button>
    <div class='card-content'>
      <div class='media'>
        <div class='media-content'>
          <p class='title is-4'><%= "Quad ID: #{detector_location.quad_id}" %></p>
          <p class='title is-5'><%= "Quad Number: #{detector_location.quad_number}" %></p>
        </div>
      </div>

      <div class='content'>
        <p>Datum: <%= "#{detector_location.datum}" %></p>
        <p>Coordinates: <%= "#{detector_location.coordinates}" %></p>
        <p>Elevation: <%= "#{detector_location.elevation}" %></p>
        <p>Land Ownership: <%= placeholder_if_blank(detector_location.land_ownership) %></p>
        <p>Land Ownership Details: <%= placeholder_if_blank(detector_location.land_ownership_detail) %></p>
        <p>Local Habitat:  <%= "#{detector_location.local_habitat.label}" %></p>
        <p>Detection Target: <%= placeholder_if_blank(detector_location.try(:target_descriptor).try(:detection_target).try(:label)) %></p>
        <p>Target Descriptor: <%= placeholder_if_blank(detector_location.try(:target_descriptor).try(:label)) %></p>
        <a class='driving-button button is-primary'>View Driving Directions</a>
      </div>
    </div>
  </div>

  <div class='modal driving-modal'>
    <div class='modal-background'></div>
      <div class='modal-card'>
        <header class='modal-card-head'>
          <p class='modal-card-title'>Driving Directions</p>
        </header>
        <section class='modal-card-body'>
          <div class='modal-content'>
            <p><%= placeholder_if_blank(detector_location.driving_directions) %></p>
          </div>
        </section>
      </div>

    <button class='modal-close driving-close is-large' aria-label='close'></button>
  </div>

  <div class='modal gallery-modal' id='gallery<%= detector_location.id %>'>
    <div class='modal-background'></div>
      <div class='modal-card'>
        <header class='modal-card-head'>
          <p class='modal-card-title'>Image Gallery</p>
        </header>
        <section class='modal-card-body'>
          <% detector_location.images.each do |image| %>
            <div class='card-image'>
              <div class='gallery-modal-image' data-image-url='<%= url_for(image) %>'></div>
              <figure class='image gallery-figure is-4by3'></figure>
            </div>
          <% end %>
        </section>
      </div>

    <button class='modal-close gallery-close is-large' aria-label='close'></button>
  </div>


</div>
