<div class='fieldset'>
  <h3 class='title is-5 detector-location-index'><h3>
  <hr />

  <div class='field'>
    <%= f.label :location_name, class: 'label' %>
    <div class='control'>
      <%= f.text_field :location_name, class: 'input' %>
    </div>
  </div>

  <div class='field'>
  <%= f.label :datum, class: 'label' %>
    <div class='control select'>
      <%= f.collection_select(
        :geodetic_system_id,
        GeodeticSystem.all,
        :id,
        :label,
        prompt: true)
      %>
    </div>
  </div>

  <div class='field'>
    <%= f.label 'Coordinates', class: 'label' %>
    <div class='field-body'>
      <div class='field'>
        <div class='control is-expanded'>
          <%= f.text_field :latitude, class: 'input', placeholder: 'Latitude' %>
        </div>
      </div>
      <div class='field'>
        <div class='control is-expanded'>
          <%= f.text_field :longitude, class: 'input', placeholder: 'Longitude' %>
        </div>
      </div>
    </div>
  </div>

  <div class='field'>
    <%= f.label :elevation, class: 'label' %>
    <div class='control'>
      <%= f.text_field :elevation, class: 'input' %>
    </div>
  </div>

  <div class='field'>
    <%= f.label :land_ownership, class: 'label' %>
    <div class='control'>
      <%= f.text_field :land_ownership, class: 'input' %>
    </div>
  </div>

    <div class='field'>
    <%= f.label :land_ownership_detail, class: 'label' %>
    <div class='control'>
      <%= f.text_area :land_ownership_detail, class: 'input textarea' %>
    </div>
  </div>

  <div class='field'>
    <%= f.label 'Local Habitat', class: 'label' %>
    <div class='control select'>
      <%= f.collection_select(
        :local_habitat_id,
        LocalHabitat.all,
        :id,
        :label,
        prompt: true)
      %>
    </div>
  </div>

  <div class='field'>
    <%= f.label 'Target Descriptor', class: 'label' %>
    <div class='control select'>
      <%= f.collection_select(
        :target_descriptor_id,
        TargetDescriptor.all,
        :id,
        :label,
        prompt: true)
      %>
    </div>
  </div>
  <%
=begin%>    loop through images here and add a delete button for each one
 <div class='field'>
    <%= f.label 'Images', class: 'label' %>
    <div class='control select'>
      <%= puts :images
      %>
    </div>
  </div> 
<%
=end%>
  <div class='file'>
    <%= f.file_field :images, multiple: true %>
  </div>

  <br />

  <%= f.hidden_field :_destroy %>
  <%= link_to '<i class="fa fa-trash-alt"></i>Delete'.html_safe, '#', class: "remove_fields button is-danger" %>
</div>

<br />