<%= render_component('index-header', { resource: 'Contact', path:  new_contact_path }) %>

<table class='table'>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Email</th>
      <th>Organization</th>
      <th>State</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%- @contacts.each_with_index do |contact, index| %>
      <tr>
        <th><%= index+1 %></th>
        <td><%= contact.full_name %></td>
        <td><%= contact.email %></td>
        <td><%= contact.organization %></td>
        <td><%= contact.state_code %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact), class: 'button is-primary is-outlined is-small' %></td>
        <td><%= link_to 'Remove',
                        contact_path(contact),
                        method: :delete, data: { confirm: "Delete #{contact.full_name}?" },
                        class: 'button is-text is-small',
                        style: 'border-bottom: 1px solid gray; text-decoration: none' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
