<table class='table is-striped'>
  <thead>
    <tr>
      <th></th>
      <% attributes.each do |header| %>
        <th><%= header.keys[0].to_s.humanize %></th>
      <% end %>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% resources.each_with_index do |resource, index| %>
      <tr>
        <th><%= index+1 %></th>
        <% attributes.each do |attribute| %>
          <td><%= placeholder_if_blank(resource.send(attribute.values[0])) %></td>
        <% end %>
        <td class='divider'>|</td>
        <td><%= link_to '<i class="far fa-edit"></i>'.html_safe, [:edit, resource], class: 'has-text-primary' %></td>
        <td><%= link_to '<i class="far fa-trash-alt has-text-grey"></i>'.html_safe,
                        resource,
                        method: :delete, data: { confirm: "Delete #{resource.send(attributes.first.keys[0])}?",
                        class: 'has-text-danger' }%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
