

<%= form_with(model: @flexible_search, local: true) do |form| %>
  <% if flexible_search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flexible_search.errors.count, "error") %> prohibited this query group from being saved:</h2>

      <ul>
        <% flexible_search.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <b>Do you want to narrow or broaden your search results?</b><br />
    <%= form.radio_button :narrow, 'Narrow' %>Narrow<br />
    <%= form.radio_button :narrow, 'Broaden' %>Broaden<br />
  </div>

  <%
=begin%>
 <h2>Tables</h2> 
<%
=end%>

  <div class="checkboxes" style="float:left; display:flex;">
    <span>
      <h4>Deployment</h4>
      <%= form.check_box :searchables, {multiple: true}, "comments", nil %>Comments<br>
      <%= form.check_box :searchables, {multiple: true}, "microphone_height_off_ground", nil %>Microphone Height<br>
      <%= form.check_box :searchables, {multiple: true}, "microphone_orientation", nil %>Microphone Orientation<br>
      <%= form.check_box :searchables, {multiple: true}, "sampling_frequency", nil %>Sampling Frequency<br>
      <%= form.check_box :searchables, {multiple: true}, "pre_trigger", nil %>Pre-Trigger<br>
      <%= form.check_box :searchables, {multiple: true}, "recording_length", nil %>Recording Length<br>
      <%= form.check_box :searchables, {multiple: true}, "hp_filter", nil %>HP Filter<br>
      <%
=begin%>
 <%= form.check_box :searchables, {multiple: true}, "sampling_frequency", nil %>Sampling Frequency<br>
      <%= form.check_box :searchables, {multiple: true}, "sampling_frequency", nil %>Sampling Frequency<br>
      <%= form.check_box :searchables, {multiple: true}, "sampling_frequency", nil %>Sampling Frequency<br>
      <%= form.check_box :searchables, {multiple: true}, "sampling_frequency", nil %>Sampling Frequency<br>
      <%= form.check_box :searchables, {multiple: true}, "sampling_frequency", nil %>Sampling Frequency<br>
      <%= form.check_box :searchables, {multiple: true}, "sampling_frequency", nil %>Sampling Frequency<br>
      <%= form.check_box :searchables, {multiple: true}, "sampling_frequency", nil %>Sampling Frequency<br>
      <%= form.check_box :searchables, {multiple: true}, "sampling_frequency", nil %>Sampling Frequency<br>
      <%= form.check_box :searchables, {multiple: true}, "sampling_frequency", nil %>Sampling Frequency<br>
      <%= form.check_box :searchables, {multiple: true}, "sampling_frequency", nil %>Sampling Frequency<br>
      <%= form.check_box :searchables, {multiple: true}, "sampling_frequency", nil %>Sampling Frequency<br>
      <%= form.check_box :searchables, {multiple: true}, "sampling_frequency", nil %>Sampling Frequency<br>
      <%= form.check_box :searchables, {multiple: true}, "sampling_frequency", nil %>Sampling Frequency<br>
      <%= form.check_box :searchables, {multiple: true}, "sampling_frequency", nil %>Sampling Frequency<br>
      <%= form.check_box :searchables, {multiple: true}, "sampling_frequency", nil %>Sampling Frequency<br>
      <%= form.check_box :searchables, {multiple: true}, "sampling_frequency", nil %>Sampling Frequency<br> 
<%
=end%>
    </span>
  </div>
  <span>
      <h4>Sonobat Output</h4>
      <%= form.check_box :searchables, {multiple: true}, "detector_location", nil %>Detector Location<br>
      <%= form.check_box :searchables, {multiple: true}, "night", nil %>Night<br>
      <%= form.check_box :searchables, {multiple: true}, "filename", nil %>Filename<br>
  </span>


 <%
=begin%>
 <div class="checkboxes">
    <%= form.collection_check_boxes(:search_items, SearchField.all, :id, :name) %>
</div>  
<%
=end%>

  <div class="actions">
    <%= form.submit %>
  </div>
  <br>

<% end %>
