

<%= form_with(model: flexible_search, local: true) do |form| %>
  <% if flexible_search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flexible_search.errors.count, "error") %> prohibited this query group from being saved:</h2>

      <ul>
        <% flexible_search.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <b>Do you want to narrow or broaden your search results?</b><br />
    <%= form.radio_button :narrow, 'Narrow' %> Narrow <br />
    <%= form.radio_button :narrow, 'Broaden' %> Broaden <br />
  </div>

  <h3>Tables</h3>

  <div class="checkboxes" style="float:left; display:flex;">
    <span>
      <b>Deployment</b><br /> 
      <% columns = Deployment.column_names() %>
      <% columns.each do |c| %>
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1"> <%= c %> </label><br>
      <% end %>
      <br>
    </span>
    <span>
      <b>SonobatOutput</b><br /> 
      <% columns = SonobatOutput.column_names() %>
      <% columns.each do |c| %>
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1"> <%= c %> </label><br>
      <% end %>
      <br>
    </span>
    
  </div>

  
  <%
=begin%>
 <div class="checkboxes">
    <%= form.collection_check_boxes(:table_ids, Table.all, :id, :name) %>
  </div> 
<%
=end%>

  <div class="actions">
    <%= form.submit %>
  </div>
  <br>

<% end %>
