<h1>Editing <%= @flexible_search.name %> </h1>

<%= render 'form', flexible_search: @flexible_search %>
<%
=begin%>
 <%= render(FormComponent.new(@model, @fields, @header_text)) %> 
<%
=end%>


<%= link_to 'Show', flexible_search_path %> |
<%= link_to 'Back', flexible_searches_path %>
