<h1>Quick Search</h1>
<h3><%= link_to "Sonobat Output", quick_search_1_path, class: "list-group-item-heading" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Go to form", qs_so_form_path, class: "btn btn-primary" %></h3>
<h3><%= link_to "ODFW", class: "list-group-item-heading" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Go to form", odfw_form_path, class: "btn btn-primary" %></h3>
<h3><%= link_to "USGS NA Bat", class: "list-group-item-heading" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Go to form", usgs_na_bat_form_path, class: "btn btn-primary" %></h3>


