<p id="notice"><%= notice %></p>

<p>
  <h1><%= @flexible_search.name %></h1>
</p>

<form action="<%= flexible_search_results_path %>" method="GET">
  <% @flexible_search.searchables.each do |s| %>
    <%= s %>
    <label for=s></label></br>
    <input type="text" name=s><br>
    <br>
  <% end %>

  <%
=begin%>
 <form action="<%= flexible_search_results_path %>" method="GET">
  <%= @flexible_search.search_items.each do |si|%>
    <label for=si><%= si %></label><br>
    <input type="text" name=si><br>
    <br>
  <% end %> 
<%
=end%>

  
  <input type="submit" value="Search">

</form>




<%= button_to 'Edit', edit_flexible_search_path(@flexible_search), class: 'btn btn-primary' %> 
<%= button_to "Delete", @flexible_search, class: 'btn btn-danger', 
method: :delete, data: { confirm: "Are you sure you want to delete this custom search?" } %>
<%= button_to 'Back', flexible_searches_path, class: 'btn btn-primary' %>