<p id="notice"><%= notice %></p>

<p>
  <h1><%= @flexible_search.name %></h1>
</p>
<div style="float:left; display:flex;">
  <form action="<%= flexible_search_results_path %>" method="GET">
    <% @flexible_search.searchables.each do |s| %>
      <%= s %>
      <label for=s></label></br>
      <input type="text" name=s><br>
      <br>
    <% end %>
    <span>
      <input type="submit" value="Search"><br>
      <%= button_to 'Edit', edit_flexible_search_path(@flexible_search), class: 'btn btn-primary' %> <br>
      <%= button_to "Delete", @flexible_search, class: 'btn btn-danger', 
      method: :delete, data: { confirm: "Are you sure you want to delete this custom search?" } %>
      <%= button_to 'Back', flexible_searches_path, class: 'btn btn-primary' %>
    </span>
  </form>



  <%
=begin%>
 <table class="table">
    <thead>
      <tr>
        <% @flexible_search.searchables.each do |fs| %>
          <th scope="col"><%= fs %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <ul>
        <% @sonobat_outputs.each do |so| %>
          <tr>
          <% @flexible_search.searchables.each do |s| %>
              <td><%= so.send(s)  %></td> 
          <% end %> 
          </tr>
      <% end %>
      </ul>
    </tbody>
  </div> 
<%
=end%>
@sonobat_outputs = SonobatOutput.all
<% @flexible_search.searchables.each do |s| %>
  <% s << "_cont" %>
  <% @acc = s.intern() %>
  <% puts "*********************" %>
  <% puts @acc.class %>
  <% puts "*********************" %>
<% end %>
<%= search_form_for @q do |f| %>
  <%= f.label :filename_cont %>
  <%= f.search_field :filename_cont %>
  <%= f.submit %>
<% end %>




