<p id="notice"><%= notice %></p>

<p>
  <h1><%= @flexible_search.name %></h1>
</p>

<form action="<%= flexible_search_results_path %>" method="GET">
  <% @flexible_search.searchables.each do |s| %>
    <%= s %>
    <label for=s></label></br>
    <input type="text" name=s><br>
    <br>
  <% end %>

  <%
=begin%>
 <form action="<%= flexible_search_results_path %>" method="GET">
  <%= @flexible_search.search_items.each do |si|%>
    <label for=si><%= si %></label><br>
    <input type="text" name=si><br>
    <br>
  <% end %> 
<%
=end%>

  
  <input type="submit" value="Search">

</form>




<%= link_to 'Edit', edit_flexible_search_path(@flexible_search) %> |
<%= link_to 'Back', flexible_searches_path %>