<div class="container mt-3">
  <h2>Import CSV Data</h2>

  <%= bootstrap_form_for(@upload, label_errors: true) do |f| %>
    <%= f.select :upload_type, [['Site Metadata', 'meta'], ['Sonobat Output', 'sono']] %>
    <%= f.file_field :data, accept: 'text/csv', required: true %>
    <%= f.errors_on :filename, hide_attribute_name: true %>
    <%= f.submit "Upload CSV" %>
  <% end %>

  <% if @incorrect_format %>
    <%=
      alert dismissible: false,
      type: :danger,
      heading: "Only CSV files are allowed",
      message: "Upload of incorrect file attempted, please try again",
      styling: "mt-3"
    %>
  <% end %>

</div>
