<div class="container">
  <h2>Import Site Meta Data</h2>

<%= form_with model: @upload do |f| %>
  <%= label_tag(:upload_type, "Upload Type:") %>
  <%= f.select :upload_type, ['site_data', 'sonobat_data'] %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload CSV"%>
<% end %>

</div>

