<p id="notice"><%= notice %></p>

<h1>Flexible Searches</h1>

<%= search_form_for @search do |f| %>
  <div class="field">
  <%= f.label "Location Identifier" %>
  <%= f.text_field :name_cont %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<div class="d-flex flex-column align-items-center">
  <%= render(TableComponent.new(@fields, @headers, @helpers, @location_mappings, @search)) %>
</div>

