<p id="notice"><%= notice %></p>

<h1>Location Mappings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @location_mappings.each do |location_mapping| %>
      <tr>
        <td><%= location_mapping.name %></td>
        <td><%= link_to 'Show', location_mapping %></td>
        <td><%= link_to 'Edit', edit_location_mapping_path(location_mapping) %></td>
        <td><%= link_to 'Destroy', location_mapping, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location Mapping', new_location_mapping_path %>
