<p id="notice"><%= notice %></p>

<h1>Location Mappings</h1>

<% @location_mappings.each do |location_mapping| %>
    <section class="location_mapping">
        <div class="summary" style="float:left; display:flex; padding:2px; padding-right:10px;">
            <h2 style="margin-right:10px;"><%= link_to location_mapping.name, location_mapping %></h2>
            <span style="margin-right: 10px;">
                <%= button_to 'Edit', edit_location_mapping_path(location_mapping), class: 'btn btn-primary' %>
            </span>
            <span style="margin-right: 10px;">
                <%= button_to "Delete", location_mapping, class: 'btn btn-danger', method: :delete, data: { confirm: "Are you sure you want to delete this custom search?" } %>
            </span>
            <p></p>
        </div>
    </section> 
<% end %>




 <%
=begin%>
 <table id="sonobat_outputs">
  <tr>
    <th>sonobat_output First Name</th>
    <th>sonobat_output Last Name</th>
    <th>sonobat_output State</th>
  <tr>
<%= @sonobat_outputs.each do |sonobat_output| %>
  <tr>
    <td><%= link_to(sonobat_output.manual_idspp2, sonobat_output) %></td>
    <td><%= sonobat_output.manual_idspp2 %></td>
  </tr>
<% end %>
</table>  
<%
=end%>


<%
=begin%>
 <table>
  <thead>
    <tr>
      <th> First Name </th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |c| %>
      <td><%= c.first_name + " " + c.last_name%></td>
    <% end %>
  </tbody>
</table> 
<%
=end%>


<%= link_to 'New Location Mapping', new_location_mapping_path %>