<p id="notice"><%= notice %></p>

<h1>Location Mappings</h1>

<% @location_mappings.each do |location_mapping| %>
    <section class="location_mapping">
        <div class="summary" style="float:left; display:flex; padding:2px; padding-right:10px;">
            <h2 style="margin-right:10px;"><%= link_to location_mapping.name, location_mapping %></h2>
            <span style="margin-right: 10px;">
                <%= button_to 'Edit', edit_location_mapping_path(location_mapping), class: 'btn btn-primary' %>
            </span>
            <span style="margin-right: 10px;">
                <%= button_to "Delete", location_mapping, class: 'btn btn-danger', method: :delete, data: { confirm: "Are you sure you want to delete this custom search?" } %>
            </span>
            <p></p>
        </div>
    </section> 
<% end %>




 <%
=begin%>
 <table id="sonobat_outputs">
  <tr>
    <th>sonobat_output First Name</th>
    <th>sonobat_output Last Name</th>
    <th>sonobat_output State</th>
  <tr>
<%= @sonobat_outputs.each do |sonobat_output| %>
  <tr>
    <td><%= link_to(sonobat_output.manual_idspp2, sonobat_output) %></td>
    <td><%= sonobat_output.manual_idspp2 %></td>
  </tr>
<% end %>
</table>  
<%
=end%>


<%
=begin%>
 <table>
  <thead>
    <tr>
      <th> First Name </th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |c| %>
      <td><%= c.first_name + " " + c.last_name%></td>
    <% end %>
  </tbody>
</table> 
<%
=end%>

<<<<<<< HEAD
<%
=begin%>
 <%= search_form_for @search do |f| %>
  <div class="field">
   
<%
=end%>
<%= search_form_for @q do |f| %>
  <%= f.label :first_name_cont %>
  <%= f.search_field :first_name_cont %>
  <%= f.submit %>
<% end %>

<table>
  <thead>
    <tr>
      <th> First Name </th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |c| %>
      <td><%= c.first_name + " " + c.last_name%></td>
      <%
=begin%>
 <br> 
<%
=end%>
    <% end %>
  </tbody>
</table>
<%
=begin%>
 <%= search_form_for @search do |f| %>
  <h3> Contacts </h3>
  <% columns = Contact.column_names() %>
  <% columns.each do |c| %>
    <% if c != 'id' %>
      <%= check_box_tag('q[cs_name_cont_any][]', c) %>
      <%= c %>
      <br>
    <% end %>

  <% end %> 
<%
=end%>
  <%
=begin%>
 <div class="field">
    <%= f.label :name_cont, "Name Contains" %>
    <%= f.text_field :name_cont %>
  </div> 
<%
=end%>
  <%
=begin%>
 <%= f.submit "Search" %> 
<%
=end%>
<%
=begin%>
 <% end %>

<br> 
<%
=end%>
=======
>>>>>>> feature/flexible-searches

<%= link_to 'New Location Mapping', new_location_mapping_path %>