<p id="notice"><%= notice %></p>

<h1>Location Mappings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @location_mappings.each do |location_mapping| %>
      <tr>
        <td><%= location_mapping.name %></td>
        <td><%= link_to 'Show', location_mapping %></td>
        <td><%= link_to 'Edit', edit_location_mapping_path(location_mapping) %></td>
        <td><%= link_to 'Destroy', location_mapping, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= search_form_for @search do |f| %>
  <%= f.condition_fields do |c| %>
    <div class="field">
      <%= c.attribute_fields do |a| %>
        <%= a.attribute_select associations: [:deployment] %>
      <% end %>
      <%= c.predicate_select %>
      <%= c.value_fields do |v| %>
        <%= v.text_field :value %>
      <% end %>
    </div>
  <% end %>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>


 <%
=begin%>
 <table id="sonobat_outputs">
  <tr>
    <th>sonobat_output First Name</th>
    <th>sonobat_output Last Name</th>
    <th>sonobat_output State</th>
  <tr>
<%= @sonobat_outputs.each do |sonobat_output| %>
  <tr>
    <td><%= link_to(sonobat_output.manual_idspp2, sonobat_output) %></td>
    <td><%= sonobat_output.manual_idspp2 %></td>
  </tr>
<% end %>
</table>  
<%
=end%>


<%
=begin%>
 <table>
  <thead>
    <tr>
      <th> First Name </th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |c| %>
      <td><%= c.first_name + " " + c.last_name%></td>
    <% end %>
  </tbody>
</table> 
<%
=end%>


<%= link_to 'New Location Mapping', new_location_mapping_path %>