<!DOCTYPE html>
<html class="fill-viewport">
  <head>
    <title>Batabase</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body class="fill-viewport">
    <%= render(GlobalHeaderComponent.new) %>
    <% if notice %>
      <p class="alert alert-success my-0"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger my-0"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
