<!DOCTYPE html>
<html>
  <head>
    <title>Batabase</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <%= render_component('nav-bar') %>
    <div class="section">
      <div class="container is-fluid">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    </div>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
