<!DOCTYPE html>
<html>
  <head>
    <title>Batabase</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag 'uploads', media: 'all' %>
  </head>

  <body>
    <%= global_header %>
    <%= yield %>
  </body>
</html>
